NEXT_PUBLIC_PUBLIC_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdvdXl5bmtlbmRra2N0cHFhemthIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MTA3NTI4MCwiZXhwIjoyMDY2NjUxMjgwfQ.ai94GyS7fh-C3Qh0H6AJP5CT-Q50TYUQTzvFfIirCf8
NEXT_PUBLIC_SUPABASE_URL=https://gouyynkendkkctpqazka.supabase.co


'''
adicione um arquivo .env.local na raiz de moneasy-front (mesmo nivel de package.json)
'''